#tc-widget-root {
  z-index: 1000000;
}

.counter-container {
  display: inline-block;
  position: relative;
  transition: all 5s;
}

.counter-container::after {
  content: attr(data-counter);
  position: absolute;
  top: 0;
  right: 0;
  transform: translateX(100%);
}

.card-has-glow {
  background: #1c1f24;
  border-radius: 40px 40px 0 0;
  border-top: 2px solid #f3ba2f;
  box-shadow: 0 -4px 64px #fab82299;
}

.user-tap-button-inner {
  background: linear-gradient(180deg, #5a60ff, #3b40934f 49.53%, #1c1f24);
  border-radius: 50%;
  height: 350px;
  padding: 15px;
  position: relative;
  width: 350px;
}

.user-tap-button-inner-disabled {
  background-color: rgba(16, 16, 16, 0.3);
}

.user-tap-button-inner-secret {
  background: linear-gradient(180deg, #ff3737, #3b40934f 49.53%, #1c1f24);
}

.user-tap-button-inner:before {
  border: 1px solid rgba(90, 96, 255, 0.15);
  border-radius: 50%;
  content: "";
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.user-tap-button-circle {
  align-items: center;
  background: #272a2f;
  border: 1px solid rgba(39, 39, 39, 0);
  border-radius: 50%;
  box-shadow: 0 0 15px #304669;
  display: flex;
  height: 100%;
  justify-content: center;
  overflow: hidden;
  position: relative;
  width: 100%;
  z-index: 3;
}

.user-tap-button-circle:before {
  background-color: #3763ff;
  background: radial-gradient(circle, #3763ff 0, #3763ff00 80%);
  border-radius: 50%;
  content: "";
  display: block;
  height: 100%;
  left: right 0;
  opacity: 0.6;
  position: absolute;
  top: 0;
  width: 100%;
}

.user-tap-button-circle-secret {
  align-items: center;
  background: #272a2f;
  border: 1px solid rgba(39, 39, 39, 0);
  border-radius: 50%;
  box-shadow: 0 0 15px #304669;
  display: flex;
  height: 100%;
  justify-content: center;
  overflow: hidden;
  position: relative;
  width: 100%;
  z-index: 3;
}

.user-tap-button-circle-secret:before {
  background-color: #ff3737;
  background: rradial-gradient(circle, #ff3737 0, #ff373700 80%);
  border-radius: 50%;
  content: "";
  display: block;
  height: 100%;
  left: right 0;
  opacity: 0.6;
  position: absolute;
  top: 0;
  width: 100%;
}

.daily-combo-card {
  cursor: pointer;
  flex: 1 1;
  height: 112px;
  margin: 0 6px;
  position: relative;
}

.daily-combo-card:before {
  background: linear-gradient(180deg, #4146ff, #272a2f);
  border-radius: 16px;
  content: "";
  display: block;
  height: calc(100% + 2px);
  left: -1px;
  position: absolute;
  top: -1px;
  width: calc(100% + 2px);
  z-index: 1;
}

.daily-combo-card-inner {
  align-items: center;
  background: #272a2f;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  position: relative;
  width: 100%;
  z-index: 2;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@keyframes flash {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
.flash {
  animation: flash 1s infinite;
}
.loading-launch-bottom {
  align-items: center;
  background: linear-gradient(180deg, transparent, #000 59.59%, #000);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  min-height: 50vh;
  padding: 80px 20px 40px;
  text-align: center;
  width: 100%;
  z-index: 5;
}

.bg-button-mine {
  background: linear-gradient(96deg, #5a60ff, #b65aff 99.09%);
}

.icon_earn {
  height: 275px;
  left: 50%;
  position: absolute;
  top: 100%;
  transform: translate(-50%, 0%);
  width: 275px;
  z-index: 1;
}

.icon_earn_image {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, 80%);
  z-index: 2;
}

.earn-item-icon-success {
  align-items: center;
  background: linear-gradient(180deg, #74fc82, #297e32);
  border-radius: 50%;
  display: flex;
  height: 26px;
  justify-content: center;
  width: 26px;
}

.earn-item-icon > svg {
  color: #4e4f50;
  height: 24px;
  width: 24px;
}
.mine-item-icon > svg {
  height: 24px;
  width: 24px;
}
.airdrop-item-icon > svg {
  color: #ffffff80;
  height: 24px;
  width: 24px;
}

@keyframes pulse-animation {
  0% {
    transform: scale(0.98);
  }

  50% {
    transform: scale(1.02);
  }
  100% {
    transform: scale(0.98);
  }
}

.progress-bar {
  background: linear-gradient(90deg, #82f88e, #d885ff 53%, #5960ff);
  border-radius: 15%;
}

.user-attraction-item-completed {
  align-items: center;
  background: linear-gradient(180deg, #74fc82, #297e32);
  border: 1px solid #1c1f24;
  border-radius: 50%;
  display: flex;
  height: 18px;
  justify-content: center;
  position: absolute;
  right: -6px;
  top: -6px;
  width: 18px;
}

@keyframes scale-animation {
  0% {
    transform: scale(0.98);
  }
  50% {
    transform: scale(1.02);
  }
  100% {
    transform: scale(0.98);
  }
}

.scale-animated {
  animation: scale-animation 1s ease-in-out infinite !important;
}

.rank-item-image {
  align-items: center;
  background-color: #ffffff0d;
  border-radius: 28px;
  display: flex;
  height: 162px;
  justify-content: center;
  margin: 6px 0 22px;
  position: relative;
  width: 162px;
}

.rank-item-image:before {
  background-color: #ffffff0d;
  border-radius: 32px;
  content: "";
  display: block;
  height: 174px;
  left: -6px;
  position: absolute;
  top: -6px;
  width: 174px;
  z-index: -1;
}

.rank-slider.swiper {
  overflow: visible;
}

.rank-slider.swiper:before {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  background: linear-gradient(133deg, #ffae50 5.47%, #994330 97.66%);
  border-radius: 359px;
  content: "";
  display: block;
  filter: blur(69px);
  -webkit-filter: blur(69px);
  height: 359px;
  left: 50%;
  margin-left: -131px;
  position: absolute;
  top: -70px;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  width: 263px;
  z-index: -1;
}

.rank-slider.swiper.is-bronze:before {
  background: linear-gradient(133deg, #ffae50 5.47%, #994330 97.66%);
}
.rank-slider.swiper.is-silver:before {
  background: linear-gradient(133deg, #7995be 5.47%, #8c96a6 97.66%);
}
.rank-slider.swiper.is-gold:before {
  background: linear-gradient(133deg, #ffac2f 5.47%, #ffc34f 97.66%);
}
.rank-slider.swiper.is-platinum:before {
  background: linear-gradient(133deg, #79aabe 5.47%, #8f8ca6 97.66%);
}
.rank-slider.swiper.is-diamond:before {
  background: linear-gradient(126deg, #2ef2ff 30.31%, #0d16ff 92.09%);
}
.rank-slider.swiper.is-epic:before {
  background: linear-gradient(133deg, #5768ff 18.37%, #ff67f9 88.58%);
}
.rank-slider.swiper.is-legendary:before {
  background: linear-gradient(133deg, #73eeff 18.37%, #00c092 88.58%);
}
.rank-slider.swiper.is-master:before {
  background: linear-gradient(139deg, #0f44ff 26.58%, #29ffd9 75.09%);
}
.rank-slider.swiper.is-grandmaster:before {
  background: linear-gradient(131deg, #6889ff 12.82%, #0c15ff 95.77%);
}
.rank-slider.swiper.is-lord:before {
  background: linear-gradient(131deg, #fff 12.82%, #ffbb7c 53%, #b75800 95.77%);
}
.rank-slider.swiper.is-creator:before {
  background: linear-gradient(
    133deg,
    #1c92ff 18.64%,
    #fff 57.27%,
    #fa782f 83.45%
  );
}

.swiper-button-next,
.swiper-button-prev {
  align-items: center !important;
  color: #8b8e93 !important;
  cursor: pointer !important;
  display: flex !important;
  height: 174px !important;
  justify-content: center !important;
  position: absolute !important;
  top: 10% !important;
  width: 100px !important;
  z-index: 10 !important;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  font-family: swiper-icons !important;
  font-size: 24px !important;
  font-variant: normal !important;
  letter-spacing: 0 !important;
  line-height: 1 !important;
  text-transform: none !important;
}

.user-info-avatar-skin {
  width: 70px;
  align-items: center;
  background: linear-gradient(101deg, #ff5f3c 3.81%, #ffb546 104.28%);
  border: 1px solid #ff8140;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  margin-left: -20px;
  margin-right: 8px;
  padding-left: 13px;
  position: relative;
  z-index: 2;
  height: 32px;
}

.user-info-avatar {
  border-radius: 8px;
  flex: 0 0 32px;
  height: 32px;
  margin-right: 8px;
  overflow: visible;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 32px;
  z-index: 3;
}

.coin-is-grayscale {
  filter: grayscale(1);
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(-25%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

.animate-bounce {
  animation: bounce 1s infinite;
}

.rank-ava.is-bronze {
  background: linear-gradient(133deg, #ffae50 5.47%, #994330 97.66%);
}
.rank-ava.is-silver {
  background: linear-gradient(133deg, #7995be 5.47%, #8c96a6 97.66%);
}
.rank-ava.is-gold {
  background: linear-gradient(133deg, #ffac2f 5.47%, #ffc34f 97.66%);
}
.rank-ava.is-platinum {
  background: linear-gradient(133deg, #79aabe 5.47%, #8f8ca6 97.66%);
}
.rank-ava.is-diamond {
  background: linear-gradient(126deg, #2ef2ff 30.31%, #0d16ff 92.09%);
}
.rank-ava.is-epic {
  background: linear-gradient(133deg, #5768ff 18.37%, #ff67f9 88.58%);
}
.rank-ava.is-legendary {
  background: linear-gradient(133deg, #73eeff 18.37%, #00c092 88.58%);
}
.rank-ava.is-master {
  background: linear-gradient(139deg, #0f44ff 26.58%, #29ffd9 75.09%);
}
.rank-ava.is-grandmaster {
  background: linear-gradient(131deg, #6889ff 12.82%, #0c15ff 95.77%);
}
.rank-ava.is-lord {
  background: linear-gradient(131deg, #fff 12.82%, #ffbb7c 53%, #b75800 95.77%);
}

.fix-words-mine {
  word-break: break-word;
  overflow-wrap: break-word;
}

.app-bar-item-notification {
  background-color: #ff3b30;
  border-radius: 50%;
  height: 10px;
  left: 50%;
  margin-left: 10px;
  position: absolute;
  top: 6px;
  width: 10px;
}

@media (max-width: 480px) {
  .user-tap-button-inner {
    height: 300px;
    width: 300px;
  }
}
